# NextAuth Configuration
# The URL where your application is hosted. In development: http://localhost:3000
NEXTAUTH_URL="http://localhost:3000"

# A secure random secret key used to sign tokens. You can generate one using: openssl rand -base64 32
NEXTAUTH_SECRET="rigreno-development-secret-key-12345"
